/* Contenitore principale */
.nuova-pagina-container {
    text-align: center;
    padding: 50px;
}

/* Stile del titolo */
.nuova-pagina-title {
    color: #333;
    margin-bottom: 20px;
}

/* Stile del paragrafo */
.nuova-pagina-text {
    color: #666;
    font-size: 1.1rem;
    line-height: 1.5;
}